* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'sans-serif';
}

.debug {
    border: 1px solid red;
}

header {
    width: 1512px;
    height: 100px;
    background-color: #FFF159;
    display: flex;
    flex-direction: column;
}

.header-top-section {
    display: flex;
    gap: 52px;
    padding: 11px 166px;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 15px 9px;
    height: 39px;
    width: 598px;
    left: 1px;
    right: 1px;
    top: 8px;

    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.search-bar > span {
    color: rgb(206, 204, 204);
    font-size: 15px;
    font-weight: 400;
}

.header-bottom-section {
    display: flex;
    align-items: center;
    padding: 13px 187px;
}

.navigation-bar {
    display: flex;
    align-items: center;
    gap: 200px;
}

.navigation-bar-sections {
    display: flex;
    align-items: center;
    gap: 50px;
}

.address {
    color: #333333;
    font-size: 13px;
    font-weight: 400;
}

.categories {
    color: rgba(51, 51, 51, 0.6);
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 17.8px;
}

.auth {
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-weight: 400; 
}

section {
    background-color: #EBEBEB;
    width: 1512px;
    display: grid;
    grid-template-rows: 50% 50%;
}

.poster {
    display: flex;
    flex-direction: column;
    width: 1512px;
    height: 340px;
}

.payment-options-container {
    padding: 30px 158px;
}

.payment-options-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1184px;
    height: 90px;
    top: 40;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.payment-options {
    display: flex;
    flex-direction: row;
}

.icon-link {
    display: flex;
    flex-direction: column;
    padding: 20.5px 20.5px;
    gap:3px;
}

.icon-link-text {
    font-size: 13px;
    font-weight: 400;
    color: #3483fa
}

.icon-link-header > span{
    font-size: 17px;
    font-weight: 400;
    color: #000000;
}

.offers-section {
    display: flex;
    flex-direction: column;
    padding: 0px 164px;
}

.offers-section-header {
    display: flex;
    gap: 16.38px;
    padding: 21.19px;
}

.offers-section-header > h1{
    font-size: 25px;
    font-weight: 300;
    color: #666666;
}

.offers-section-header > span{
    font-size: 15px;
    font-weight: 400;
    color: #3483fa;
    padding: 7.2px;
}

.offers-section-container  {
    display: flex;
    gap: 16px;
}

.card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 19px 16px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    width: 224px;
    height: 350px;
}

.price {
    font-size: 23px;
    font-weight: 400;
    color: #333333;
}

.discount {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    color: #00a650;
    padding-top: 6px;
}

.delivery-description {
    font-size: 13px;
    font-weight: 600;
    color: #00a650;
    padding-top: 5px;
}

.price-description {
    display: flex;
    flex-direction: row;
    gap: 11.28px;
}

.subscription-section {
    display: flex;
    flex-direction: column;
    padding: 57px 164px;
}

.subscription-section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1180px;
    height: 87px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background: linear-gradient(90deg, #A90F90 55%, #0C1A51 100%);
}

.subscription-section-header > h1{
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    padding: 28px 24px;
}

.price-discount {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    text-decoration-line: line-through;
}

.price-subscription {
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.sub-description {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 23.5px;
    padding-right: 24.48px;
}

.subscription-section-container {
    display: flex;
    flex-direction: column;
    width: 1180px;
    height: 276px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #ffffff
}

.subscription-section-container > h1 {
    font-size: 17px;
    font-weight: 400;
    color: #000000;
    padding: 20px 24px;
}

.subscription-benefits {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-right: 24.48px;
    padding-left: 25px;
    padding-bottom: 54px;
    gap: 169px;
}

.benefits-title {
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    padding-top: 28px;
    width: 130px;
}

.benefits-description {
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.delivery-title {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    padding-top: 28px;
    padding-right: 29px;
    width: 240px;
}

.subscription-button-container {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 12px;
    padding-right: 30px;
}

.subscription-button {
    background-color: #3483fa;
    border-radius: 6px;
    width: 124px;
    height: 48px;
    padding-top: 12px;
}

.button-title {
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    padding-left: 23px;
}

