* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'sans-serif';
}

.debug {
    border: 1px solid red;
}

header {
    width: 100%;
    height: 100px;
    padding-top: 11px;
    background-color: #FFF159;
}

.section-title {
    width: 1180px;
}

.header-top-section {
    display: flex;
    justify-content: center;
}

.header-title {
    display: flex;
    width: 1180px;
    gap: 52px;
}

.header-bottom-section {
    display: flex;
    padding-top: 22px;
    justify-content: center;
}

.search-bar {
    height: 39px;
    width: 598px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 9px 0px 7px 15px;
}

.search-bar > span {
    color: rgb(206, 204, 204);
    font-size: 15px;
    font-weight: 400;
}

.header-categories-font {
    color: #333333;
    font-size: 13px;
    font-weight: 400;
}
.address {
    padding-right: 35.35px;
}
.categories {
    color: #33333399;
    padding-left: 17.8px;
}
.auth {
    font-size: 14px;
    padding-left: 220px;
}

section {
    background-color: #EBEBEB;
    width: 100%;
}

.image-poster {
    display: flex;
    background-image: url(/media/poster.png);
    background-size: cover;
    height: 340px;
    justify-content: center;
    align-items: flex-end;
}

.buttons {
    display: flex;
    padding-bottom: 16px;
    gap: 4px;
}

.button {
    width: 6px;
    height: 6px;
    background: #00000040;
    box-shadow: inset 0px 0px 0px 1px #FFFFFF;
    border-radius: 3px;
}

.button2 {
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 1px #00000040;
}

.payment-options-container {
    display: flex;
    padding-top: 40px ;
    justify-content: center;
}

.payment-options-section {
    display: flex;
    flex-direction: row;
    width: 1184px;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.payment-option {
    display: flex;
    flex-direction: column;
    padding: 20.5px 20.5px;
    gap:3px;
}

.icon-link-text {
    font-size: 13px;
    font-weight: 400;
    color: #3483fa
}

.icon-link-header > span{
    font-size: 17px;
    font-weight: 400;
    color: #000000;
}

.offers-section-header {
    display: flex;
    width: 100%;
    gap: 16.38px;
    padding: 50px 0px 21.19px 0px;
    justify-content: center;
}

.section-header-title{
    font-size: 25px;
    font-weight: 300;
    color: #666666;
}

.section-header-subtitle{
    font-size: 15px;
    font-weight: 400;
    color: #3483fa;
    padding: 7.2px 0px 0px 16.38px;
}

.section-container  {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 19px 16px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    width: 224px;
    height: 350px;
}

.price-description {
    display: flex;
    gap: 11.28px;
}

.price {
    font-size: 23px;
    font-weight: 400;
    color: #333333;
}

.discount {
    font-size: 14px;
    font-weight: 400;
    color: #00a650;
    padding-top: 6px;
}

.delivery {
    font-size: 13px;
    font-weight: 600;
    color: #00a650;
    padding-top: 5px;
}

.delivery-full {
    display: flex;
    gap: 2.66px;
}

.subscription-section-header {
    display: flex;
    justify-content: center;
    padding-top: 57px;
}

.subscription-section-title {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    height: 87px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background: linear-gradient(90deg, #A90F90 55%, #0C1A51 100%);
}

.subscription-section-title > h1{
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    padding: 28px 24px;
}

.subscription-fee {
    display: flex;
    padding: 23.5px 24.48px 0px 0px;
}

.sub-price-description {
    display: flex;
    flex-direction: column;
    padding-left: 7px;
}
.price-discount {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    text-decoration-line: line-through;
}

.price-subscription {
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.subscription-section {
    display: flex;
    justify-content: center;
}

.subscription-section-container {
    display: flex;
    flex-direction: column;
    width: 1180px;
    height: 276px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #ffffff
}

.subscription-section-container > h1 {
    font-size: 17px;
    font-weight: 400;
    color: #000000;
    padding: 20px 24px;
}

.subscription-benefits {
    display: flex;
    padding: 10px 24.48px 54px 25px;
    gap: 169px;
}

.benefits-description {
    display: flex;
    gap: 17px;
}

.benefits-title {
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    padding-top: 28px;
    width: 130px;
}

.delivery-title {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    padding: 28px 29px 0px 0px;
    width: 240px;
}

.subscription-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0px 30px 12px 0px;
}

.subscription-button {
    background-color: #3483fa;
    border-radius: 6px;
    width: 124px;
    height: 48px;
    padding-top: 12px;
}

.button-title {
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    padding-left: 23px;
}

.points-benefits-section-header {
    display: flex;
    gap: 25.36px;
    padding: 80px 0px 21.19px 0px;
    justify-content: center;
}

.points-benefits-card {
    border-radius: 6px;
    width: 384px;
    height: 250px;
    padding: 154px 0px 0px 16px;
}
.card1-image {
    background-image: url(/media/benefits-card1.png);
}
.card-body {
    display: flex;
    gap: 16px;
}

.card2-image {
    background-image: url(/media/benefits-card2.png);
}
.card3-image {
    background-image: url(/media/benefits-card3.png);
}

.points-benefits-text {
    padding-top: 15px;
}

.points-benefits-trial {
    font-size: 11px;
    font-weight: 400;
    color: #ffffff;
}

.points-benefits-title {
    display: flex;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.points-benefits-description {
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
    padding-top: 50px;
}

.discover-section-header {
    display: flex;
    padding: 93.12px 0px 19.19px 0px;
    justify-content: center;
}

.discover-card {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    width: 584px;
    height: 250px;
}

.discover-card-description {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 57.7px 0px 0px 32px;
}

.discover-title {
    font-size: 12px;
    font-weight: 600;
    color: #4b4b4b;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.discover-subtitle {
    display: flex;
    font-size: 28px;
    font-weight: 600;
    color: #4b4b4b;
}

.discover-button {
    background-color: #3483fa;
    border-radius: 6px;
    width: 96px;
    height: 36px;
    padding-top: 7.5px;
}

.discover-button-title {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
}

.shops-section-header {
    display: flex;
    gap: 21.45px;
    padding: 54.81px 0px 21.19px 0px;
    justify-content: center;
}

.shops-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #0000001a, 0px -1px 2px #0000001a;
    width: 284px;
    height: 340px;
}

.shops-card-header {
    display: grid;
    grid-template-rows: 30% 70%;
    height: 206;
}

.card-logo {
    padding-left: 102px;
}

.shops-card-title {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    display: grid;
    text-align: center;
}

.shops-card-body {
    display: flex;
    width: 70px;
    height: 70px;
    padding-left: 32px;
    gap: 6px
}

.shops-card-footer {
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    display: grid;
    text-align: center;
    padding-top: 22px;
}

.supermarket-section-header {
    display: flex;
    gap: 16.38px;
    padding: 108.81px 0px 21.19px 0px;
    justify-content: center;
}

.header-bold {
    font-weight: 600;
}

.supermarket-section-main-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 4px;
    width: 383px;
    height: 380px;
}

.supermarket-image-background {
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.main-card-header {
    font-size: 12px;
    font-weight: 600;
    color: #4b4b4b;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.main-card-title {
    font-size: 28px;
    font-weight: 700;
    color: #4b4b4b;
}

.card-description {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 25px;
}

.section-container2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.supermarket-section-cards {
    background-color: #ffffff;
    border-radius: 4px;
    width: 184px;
    height: 184px;
}

.categories-section-header {
    display: flex;
    padding: 75px 0px 19.19px 0px;
    justify-content: center;
}

.categories-section-container {
    display: flex;
    flex-direction: column;  
    padding-bottom: 17.62px;
}

.categories-section-subcontainer {
    display: flex;
    justify-content: center;
}

.categories-section-cards {
    background-color: #ffffff;
    width: 170px;
    height: 170px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #EAE6E6;
    text-align: center;
    padding: 46px 13px 0px 13px;  
}

.categories-section-cards > span{
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    width: 106px;
}

.section-background {
    background: #ffffff;
}

.information-section {
    display: flex;
    justify-content: center;
    padding: 17.62px 0px 73.5px 0px;
}

.information-section-container {
    display: flex;
    width: 1180px;
    height: 300px;
    background: #ffffff;
    justify-content: space-between;  
}

.information-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.information-logo {
    padding-top: 75.17px;
}

.information-title {
    font-size: 19px;
    font-weight: 500;
    color: #4b4b4b;
    padding-top: 24px;
}

.information-body {
    font-size: 15px;
    font-weight: 300;
    color: #999999;
    width: 300px;
    padding-top: 2px;
}

.information-footer {
    font-size: 13px;
    font-weight: 400;
    color: #3483fa;
    padding-top: 9px;
}

.division {
    padding-top: 128.5px;
}

.footer {
    background-color: #ffffff;
    height: 233px;
}

.footer-section {
    border-top: 1px solid #E6E6E6;
    width: 100%;
    height: 156px;
    padding-top: 17px;
}

.footer-header {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    justify-content: center;
}

.spacing {
    padding-left: 21.97px;
}

.footer-body {
    display: flex;
    padding-top: 7px;
    font-size: 11px;
    font-weight: 400;
    color: #999999;
    justify-content: center;
}

.footer-end {
    display: flex;
    padding: 33px 20px 43.5px 0px;
    justify-content: center;
}

.image-logo {
    padding-left: 20px;
}




