* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'sans-serif';
}

.debug {
    border: 1px solid red;
}

header {
    width: 1512px;
    height: 100px;
    background-color: #FFF159;
    display: flex;
    flex-direction: column;
}

.header-top-section {
    display: flex;
    gap: 52px;
    padding: 11px 166px;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 15px 9px;
    height: 39px;
    width: 598px;
    left: 1px;
    right: 1px;
    top: 8px;

    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.search-bar > span {
    color: rgb(206, 204, 204);
    font-size: 15px;
    font-weight: 400;
}

.header-bottom-section {
    display: flex;
    align-items: center;
    padding: 13px 187px;
}

.navigation-bar {
    display: flex;
    align-items: center;
    gap: 200px;
}

.navigation-bar-sections {
    display: flex;
    align-items: center;
    gap: 50px;
}

.address {
    color: #333333;
    font-size: 13px;
    font-weight: 400;
}

.categories {
    color: rgba(51, 51, 51, 0.6);
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 17.8px;
}

.auth {
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-weight: 400; 
}

section {
    background-color: #EBEBEB;
    width: 1512px;
    display: grid;
    grid-template-rows: 50% 50%;
}

.poster {
    display: flex;
    flex-direction: column;
    width: 1512px;
    height: 340px;
}

.payment-options-container {
    padding: 30px 158px;
}

.payment-options-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1184px;
    height: 90px;
    top: 40;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.payment-options {
    display: flex;
    flex-direction: row;
}

.icon-link {
    display: flex;
    flex-direction: column;
    padding: 20.5px 20.5px;
    gap:3px;
}

.icon-link-text {
    font-size: 13px;
    font-weight: 400;
    color: #3483fa
}

.icon-link-header > span{
    font-size: 17px;
    font-weight: 400;
    color: #000000;
}

.offers-section {
    display: flex;
    flex-direction: column;
    padding: 0px 164px;
}

.offers-section-header {
    display: flex;
    gap: 16.38px;
    padding: 21.19px;
}

.offers-section-header > h1{
    font-size: 25px;
    font-weight: 300;
    color: #666666;
}

.offers-section-header > span{
    font-size: 15px;
    font-weight: 400;
    color: #3483fa;
    padding: 7.2px;
}

.offers-section-container  {
    display: flex;
    gap: 16px;
}

.card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 19px 16px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    width: 224px;
    height: 350px;
}

.price {
    font-size: 23px;
    font-weight: 400;
    color: #333333;
}

.discount {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    color: #00a650;
    padding-top: 6px;
}

.delivery-description {
    font-size: 13px;
    font-weight: 600;
    color: #00a650;
    padding-top: 5px;
}

.price-description {
    display: flex;
    flex-direction: row;
    gap: 11.28px;
}